// ---------------------------------------------------------------------------------------------------------------------
//	File:	SET
//	Role:	initial css rules to the document, such as html {} body {} etc.
// ---------------------------------------------------------------------------------------------------------------------

@include Import-Font('Roboto', 100, normal, ttf);
@include Import-Font('Roboto', 100, italic, ttf);
@include Import-Font('Roboto', 400, normal, ttf);
@include Import-Font('Roboto', 400, italic, ttf);
@include Import-Font('Roboto', 500, normal, ttf);
@include Import-Font('Roboto', 500, italic, ttf);
@include Import-Font('Roboto', 700, normal, ttf);

html
{
	font-size: 1px;
}

body
{
	min-width:    320px;
	font-kerning: normal;
	font:         400 16rem/20rem $Font-Primary, sans-serif;
}

a
{
	&:link,
	&:visited
	{
		color: $Primary;
	}

	&:hover
	{
		color: $Primary-l;
	}
}

b,
strong
{
	font-weight: 500;
}

i,
em
{
	font-style: italic;
}
